body {
    margin-top: 60px;
    font-family: 'Montserrat', sans-serif;
}
h1 {
    margin-top: 108px;
    font-family: 'Montserrat Light', sans-serif;
    font-size: 40px;
    color: #F93100;
    line-height: 50px;
    }
h2 {
    margin-bottom: 30px;
    color: #687482;
    font-family: 'Montserrat Bold', sans-serif;
    font-size: 40px;
}
hr{
    margin-bottom: 80px;
    color: #687482;
    height: 2px;
}

.info {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    color: #7A8692;
}

.fullsize {
    margin-top: 90px;
    margin-bottom: 70px;
    background-color: #3F4B58;
    font-family: 'Montserrat Light', sans-serif;
    font-size: 30px;
    color: #FFFFFF;
}

.pricelist hr {
    margin-bottom: 15px !important;
    margin-top: 9px;
    color: #FFFFFF;
}
.pricelist{
    margin-top: 26px;
    margin-bottom: 35px;
}
.dose-lang img {
    margin-left: 204px;
    height: 490px;
}
.fullsize .container {
    margin-bottom: 30px;
}
table.price > tbody > tr > td:nth-of-type(1) {
     width: 80%;
}
.discount {
    font-size: 20px;
}
.special img {
    position: absolute;
    font-size: 30px;
    width: 18%;
    top: 32%;
    right: 2%;
    z-index: 1;
}
table.discount > tbody > tr > td:nth-of-type(3) {
    width: 13%;
}
table.discount > tbody > tr > td:nth-of-type(1) {
    width: 46%;
}
table.discount > tbody > tr > td:nth-of-type(2) {
    width: 29%;
}
table.special > tbody > tr > td:nth-of-type(2) {
    width: 10%;
}
.special {
    margin-top: 30px;
}
.note {
    margin-top: 45px;
    margin-bottom: 42px;
    font-size: 15px;
}
.note p {
    margin-bottom: 3px;
}
.contact h4 {
    margin-left: 136px;
    font-size: 30px;
    color: #f93100;
    font-family: 'Montserrat Light', sans-serif;
}
.icon h3 {
    font-size: 40px;
    color: #677482;
    font-family: 'Open Sans Light', sans-serif;

}
.icon .media:first-child {
    margin-top: 0;
    margin-bottom: -19px;
}
.footer {
    background-color: #CBCFD4;
    color: #677583;
    font-size: 15px;
    margin-top: 75px;
}
.detail-contact {
    margin-bottom: 40px;
    margin-top: 40px;
}

 /*Responsiv*/
@media only screen and (max-width: 768px) {
    .dose-lang img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .dose img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .special img {
        top: 37%;
    }
}
